# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage/

# info
.DS_Store
*.pem

# debug
*-debug.log*
*-error.log*

# turbo
.turbo/

# ui
dist/
build/
.next/
out/
.swc/
.env*
**/.env*
.vitest-cache/
