# JWT Secret Key
JWT_SEC=your_jwt_secret_key_here

# Server Port
PORT=4001

# CORS & Auth
FRONTEND_URL=http://localhost:3000

# Redis Config (for BullMQ)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
QUEUE_ENABLED=true
